<template name="barHeaderLeft">
  <div class="buttons">
    {{#if isEqual leftType "mainMenu"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    {{/if}}

    {{#if isEqual leftType "back"}}
      <a id="backButton" class="button button-clear pull-left button-positive">
        Back
      </a>
    {{/if}}

    {{#if isEqual leftType "cancel"}}
      <a id="cancelButton" class="button button-clear pull-left button-positive">
        Cancel
      </a>
    {{/if}}
  </div>
</template>
