<template name="barHeaderLeft">
  <div class="buttons">
    {{#if isEqual leftType "mainMenu"}}
      <button class="button button-clear pull-left button-positive" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    {{/if}}

    {{#if isEqual leftType "callingChangeList"}}
      <button class="button button-clear pull-left button-positive" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
      <a class="button button-clear pull-right button-positive" data-action="showCallingChangeActionSheet">
        <i class="icon ion-ios-list-outline positive"></i>
      </a>
    {{/if}}

    {{#if isEqual leftType "back"}}
      <a id="backButton" class="button icon-left ion-ios-arrow-left button-clear button-positive"></a>
    {{/if}}

    {{#if isEqual leftType "cancel"}}
      <a id="cancelButton" class="button button-clear pull-left button-positive">
        Cancel
      </a>
    {{/if}}
  </div>
</template>
