<template name="barHeaderRight">
  <div class="buttons">

    {{#if isEqual rightType "done"}}
      <a id="doneButton" class="button button-clear pull-right button-positive">
        <strong>Done</strong>
      </a>
    {{/if}}

    {{#if isEqual rightType "meetingList"}}
      {{#if userCanCreateMeeting}}
        <a id="createMeetingButton" class="button button-clear pull-right button-positive">
          {{> ionIcon icon='ios-plus-empty'}}
        </a>
      {{/if}}
    {{/if}}

    {{#if isEqual rightType "signupList"}}
      {{#if userCanCreateSignup}}
        <a id="createSignupButton" class="button button-clear pull-right button-positive">
          {{> ionIcon icon='ios-plus-empty'}}
        </a>
      {{/if}}
    {{/if}}

    {{#if isEqual rightType "callingChangeList"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          <i class="icon ion-android-search positive"></i>
        {{else}}
          <i class="icon ion-ios-search positive"></i>
        {{/if}}
      </button>
      {{#if userCanCreateCallingChange}}
        <a id="createCallingChangeButton" class="button button-clear pull-right button-positive">
          {{#if isAndroid}}
            <i class="icon ion-android-add positive"></i>
          {{else}}
            <i class="icon ion-ios-plus-empty positive"></i>
          {{/if}}
        </a>
      {{/if}}
    {{/if}}

    {{#if isEqual rightType "callingGroupList"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          <i class="icon ion-android-search positive"></i>
        {{else}}
          <i class="icon ion-ios-search positive"></i>
        {{/if}}
      </button>
    {{/if}}

    {{#if isEqual rightType "organizationList"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          <i class="icon ion-android-search positive"></i>
        {{else}}
          <i class="icon ion-ios-search positive"></i>
        {{/if}}
      </button>
    {{/if}}

    {{#if isEqual rightType "memberList"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          <i class="icon ion-android-search positive"></i>
        {{else}}
          <i class="icon ion-ios-search positive"></i>
        {{/if}}
      </button>
      <a class="button button-clear pull-right button-positive" data-action="showSortActionSheet">
        <i class="icon ion-ios-list-outline positive"></i>
      </a>
    {{/if}}

    {{#if isEqual rightType "organization"}}
      <a class="button button-clear pull-right button-positive" data-action="showOrganizationActionSheet">
        <i class="icon ion-ios-upload-outline positive"></i>
      </a>
    {{/if}}

  </div>
</template>
