<template name="directoryList">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Directory</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        {{#ionList}}

          {{#each householdData}}

            {{#ionItem path="member"}}
              <h2>
                {{householdName}}, {{headOfHouse.directoryName}}
                {{#if spouse.directoryName}}
                  &amp; {{spouse.directoryName}}
                {{/if}}
              </h2>
            {{/ionItem}}

          {{/each}}

        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
