<meta http-equiv="refresh" content="0; url=http://34.198.43.157:3000/">

<template name="home">

  {{> barHeader title="LDS Toolbox" leftType="mainMenu"}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding" align="center">
        <h2>Welcome to LDS Toolbox!</h2>
        <p>To learn more about LDS Toolbox, see <a href="/about">About</a></p>
        <p>To get started, do the following:
          <ol>
            <li><a href="/userAccounts">Register or sign in</a> an account</li>
            <li><a href="/sync">Sync</a> your LDS Account</li>
            <li>Use navigation on left to see callings, sacrament meetings, directory, etc.</li>
          </ol>
        </p>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
