<template name="callingChangeList">

  {{#if userCanViewCallingChangeList}}
    {{>callingChangeListHeader title="Calling Changes"}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{#each callingChangeData}}
            {{>callingChangeItem}}
          {{/each}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}

  {{else}}
    {{>backHeader title="Calling Changes"}}

    {{#ionView}}
      {{#ionContent}}
        <div class="padding" align="center">
          <h3>Action Not Allowed</h3>
          <p>
            You are not allowed to view calling changes.  Please <a href="/sync">sync</a>
            on an LDS Account that is allowed to view calling changes.
          </p>
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{/if}}

</template>
