<template name="callingChangeEdit">

  {{#if userCanEditCallingChange}}
    {{#with callingChangeData}}

      <div class="bar bar-header bar-light">
        {{> barHeaderLeft leftType="cancel"}}

        {{> barHeaderTitle title="Edit Calling Change"}}
        <div class="buttons">
          <a id="doneButton" class="button button-clear pull-right button-positive">
            <strong>Done</strong>
          </a>
        </div>
      </div>

      {{#ionView}}
        {{#ionContent}}
          {{#ionList}}
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="item item-icon-right" href="{{pathFor 'callingChangeTypeSelect'}}">
              Type
              <span class="item-note">{{{callingChangeTypeSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="callingChangeMemberItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Member Name
              <span class="item-note">{{callingChangeMemberSession.switchedPreferredName}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="{{pathFor 'callingSelect'}}">
              Calling Name
              <span class="item-note">{{{callingChangeCallingSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
            <label class="item">
              <textarea id="notes" placeholder="Notes" rows="3">{{notes}}</textarea>
            </label>

            <div class="item item-divider">
              &nbsp;
            </div>
            <label class="item">
              Status
              <span class="item-note">{{status}}</span>
            </label>
            <a class="item item-icon-right" href="/member/{{callingChangeMemberSession.individualId}}">
              View Member
              <i class="icon ion-ios-arrow-right"></i>
            </a>

            {{#if isIn status "Approved,Interview Scheduled,Interviewed"}}
              <label class="item item-input">
                <span class="input-label">Interview Date</span>
                <input type="date" id="interviewDate" placeholder="Interview Date" value="{{interviewDate}}">
              </label>
              <label class="item item-input">
                <span class="input-label">Interview Time</span>
                <input type="time" id="interviewTime" placeholder="Interview Time" value="{{interviewTime}}">
              </label>
            {{/if}}

            {{#if isIn status "Interviewed,Presented"}}
              <a id="meetingItem" class="item item-icon-right" href="{{pathFor 'meetingSelect'}}">
                Meeting Date
                <span class="item-note">{{{meeting.meetingDate}}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            {{/if}}

            <a id="meetingItem" class="item item-icon-right" href="{{pathFor 'callingChangeHistory'}}">
              History
              <i class="icon ion-ios-arrow-right"></i>
            </a>

            {{#if isEqual status "New"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markDiscussed">
                Mark Discussed
              </a>
            {{/if}}

            {{#if isEqual status "Discussed"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markApproved">
                Mark Approved
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkDiscussed">
                Unmark Discussed
              </a>
            {{/if}}

            {{#if isEqual status "Approved"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markInterviewScheduled">
                Mark Interview Scheduled
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkApproved">
                Unmark Approved
              </a>
            {{/if}}

            {{#if isEqual status "Interview Scheduled"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markInterviewed">
                Mark Interviewed
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkInterviewScheduled">
                Unmark Interview Scheduled
              </a>
            {{/if}}

            {{#if isEqual status "Interviewed"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markPresented">
                Mark Presented
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkInterviewed">
                Unmark Interviewed
              </a>
            {{/if}}

            {{#if isEqual status "Presented"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markRecorded">
                Mark Recorded
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkPresented">
                Unmark Presented
              </a>
            {{/if}}

            {{#if isEqual status "Recorded"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markSetApart">
                Mark Set Apart
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkRecorded">
                Unmark Recorded
              </a>
            {{/if}}

            {{#if isEqual status "Set Apart"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markSetApartRecorded">
                Mark Set Apart Recorded
              </a>
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkSetApart">
                Unmark Set Apart
              </a>
            {{/if}}

            {{#if isEqual status "On Hold"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkOnHold">
                Unmark On Hold
              </a>
            {{else}}
              {{#if isNotEqual status "Canceled"}}
                <div class="item item-divider">
                  &nbsp;
                </div>
                <a class="button button-positive button-full button-clear" id="markOnHold">
                  Mark On Hold
                </a>
              {{/if}}
            {{/if}}

            {{#if isEqual status "Canceled"}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="unmarkCanceled">
                Unmark Canceled
              </a>
            {{else}}
              <div class="item item-divider">
                &nbsp;
              </div>
              <a class="button button-positive button-full button-clear" id="markCanceled">
                Mark Canceled
              </a>
            {{/if}}

            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" data-action="showDeleteActionSheet">
              Delete Calling Change
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
          {{/ionList}}
        {{/ionContent}}
      {{/ionView}}
    {{/with}}
  {{else}}
    {{> notAllowed title="Edit Calling Change"}}
  {{/if}}

</template>
