<template name="callingChangeFields">
  <div class="item item-divider">
    &nbsp;
  </div>
  <a class="item item-icon-right" href="{{pathFor 'callingChangeTypeSelect'}}">
    Type
    <span class="item-note">{{{callingChangeTypeSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Member Name
    <span class="item-note">{{{memberNameSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-right" href="{{pathFor 'callingSelect'}}">
    Calling Name
    <span class="item-note">{{{callingNameSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <div class="item item-divider">
    &nbsp;
  </div>
  <label class="item">
    <textarea id="notes" placeholder="Notes" rows="3">{{notes}}</textarea>
  </label>
</template>
