<template name="callingChangeCreate">

  <div class="bar bar-header bar-stable">
    <div class="buttons">
      <a id="cancelButton" class="button button-clear pull-left button-positive">
        Cancel
      </a>
    </div>
    <h1 class="title">Create Calling Change</h1>
    <div class="buttons">
      <a id="doneButton" class="button button-clear pull-right button-positive">
        Done
      </a>
    </div>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select id="type" name="type">
            <option value="Call">Call</option>
            <option value="Release">Release</option>
          </select>
        </label>
        {{>callingChangeFields}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
