<template name="callingChangeList">

  <div class="bar bar-header bar-stable">
    <div class="buttons">
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    </div>
    <h1 class="title">Calling Changes</h1>
    <div class="buttons">
      <button class="button button-clear pull-right" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          <i class="icon ion-android-search positive"></i>
        {{else}}
          <i class="icon ion-ios-search positive"></i>
        {{/if}}
      </button>
      <a class="button button-clear pull-right button-positive" href="/callingChangeCreate/">
        {{#if isAndroid}}
          <i class="icon ion-android-add positive"></i>
        {{else}}
          <i class="icon ion-ios-plus-empty positive"></i>
        {{/if}}
      </a>
    </div>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each callingChangeData}}
          {{>callingChangeItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
