<template name="callingChangeHelp">

  {{>barHeader title="Calling Changes" leftType="back"}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding" align="center">
        <h3>Calling Change Workflow</h3>
        <p>
          This is the order and workflow of the calling change status:
        </p>
      </div>
      {{#ionList}}
        <label class="item item-input">
          <div class="row">
            <div class="col">
              <strong>Status</strong>
            </div>
            <div class="col col-75">
              <strong>Who Does It</strong>
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              New
            </div>
            <div class="col col-75">
              Ward Council Member
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Discussed
            </div>
            <div class="col col-75">
              Bishopric
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Approve
            </div>
            <div class="col col-75">
              Bishopric
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Interview Scheduled
            </div>
            <div class="col col-75">
              Executive Secretary
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Interviewed
            </div>
            <div class="col col-75">
              Member of Bishopric
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Presented
            </div>
            <div class="col col-75">
              Member of Bishopric in Sacrament Meeting as release or sustaining
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Recorded
            </div>
            <div class="col col-75">
              Ward Clerk (in MLS)
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Set Apart
            </div>
            <div class="col col-75">
              Member of Bishopric (only on calling, not release)
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Set Apart Recorded
            </div>
            <div class="col col-75">
              Ward Clerk (only on calling, not release)
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Complete
            </div>
            <div class="col col-75">

            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Canceled
            </div>
            <div class="col col-75">
              Bishopric
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              On Hold
            </div>
            <div class="col col-75">
              Bishopric
            </div>
          </div>
        </label>
        <label class="item item-input">
          <div class="row">
            <div class="col">
              Deleted
            </div>
            <div class="col col-75">
              Bishopric
            </div>
          </div>
        </label>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
