<template name="callingChangesList">
  <form class="grid-block form-horizontal">
    <a class="button" href="/callingChangeCreate/">Create Calling Change</a>
    Type Filter:
    <select id="typeSelector" name="typeSelector">
      <option value="All" {{selectedTypeOption "All"}}>All</option>
      <option value="Call" {{selectedTypeOption "Call"}}>Call</option>
      <option value="Release" {{selectedTypeOption "Release"}}>Release</option>
    </select>
    <br />
    Status Filter:
    <select id="statusSelector" name="statusSelector">
      <option value="All" {{selectedStatusOption "All"}}>All</option>
      <option value="Incomplete" {{selectedStatusOption "Incomplete"}}>Incomplete</option>
      <option value="New" {{selectedStatusOption "New"}}>New</option>
      <option value="Discussed" {{selectedStatusOption "Discussed"}}>Discussed</option>
      <option value="Approved" {{selectedStatusOption "Approved"}}>Approved</option>
      <option value="Interviewed" {{selectedStatusOption "Interviewed"}}>Interviewed</option>
      <option value="Presented" {{selectedStatusOption "Presented"}}>Presented</option>
      <option value="Recorded" {{selectedStatusOption "Recorded"}}>Recorded</option>
      <option value="Set Apart" {{selectedStatusOption "Set Apart"}}>Set Apart</option>
      <option value="Complete" {{selectedStatusOption "Complete"}}>Complete</option>
      <option value="Cancelled" {{selectedStatusOption "Cancelled"}}>Cancelled</option>
    </select>

    <table>
      <tr>
        <td>
          Type
        </td>
        <td>
          Member Name
        </td>
        <td>
          Calling Name
        </td>
        <td>
          Status
        </td>
        <td>
          Edit
        </td>
      </tr>
      {{#each callingChangesList}}
        {{>callingChangeItem}}
      {{/each}}
    </table>
  </form>
</template>
