<template name="callingChangeTypeSelect">

  {{>cancelHeader title="Select Type"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        <label class="item item-radio">
          <input type="radio" name="callingRadioButton" value="Call" {{isChecked "Call"}}>
          <div id="callingRadioButtonCall" class="item-content">
            Call
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="callingRadioButton" value="Release" {{isChecked "Release"}}>
          <div id="callingRadioButtonRelease" class="item-content">
            Release
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
