<template name="callingChangeFields">
  <label class="item item-input">
    <input id="memberName" name="memberName" type="text" value="{{memberName}}" placeholder="Member Name" style="width: 270px" class="form-control typeahead" autocomplete="off" spellcheck="off" data-source="membersList" onclick="this.focus(); this.setSelectionRange(0,9999);" onmouseup="return false;" />
  </label>
  <label class="item item-input">
    <input id="callingName" name="callingName" type="text" value="{{callingName}}" placeholder="Calling Name" style="width: 270px" class="form-control typeahead" autocomplete="off" spellcheck="off" data-source="callingsList" onclick="this.focus(); this.setSelectionRange(0,9999);" onmouseup="return false;" />
  </label>
  <label class="item item-input">
    <textarea id="notes" name="notes" placeholder="Notes">{{notes}}</textarea>
  </label>

</template>
