<template name="callingChangeFields">
  <a class="item item-icon-right" href="{{pathFor 'memberPickerList'}}">
    Member Name
    <span class="item-note">{{{memberNameSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-right" href="{{pathFor 'callingPickerList'}}">
    Calling Name
    <span class="item-note">{{{callingNameSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <label class="item item-input">
    <span class="input-label">Notes</span>
    <textarea id="notes" placeholder="Notes">{{notes}}</textarea>
  </label>
</template>
