<template name="callingChangeTypePickerList">

  <div class="bar bar-header bar-light">
    <div class="buttons">
      <a id="cancelButton" class="button button-clear button-positive">
        Cancel
      </a>
    </div>
    <h1 class="title">Select Type</h1>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        <label class="item item-radio">
          <input type="radio" name="callingRadioButton" value="Call" {{isChecked "Call"}}>
          <div id="callingRadioButtonCall" class="item-content">
            Call
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="callingRadioButton" value="Release" {{isChecked "Release"}}>
          <div id="callingRadioButtonRelease" class="item-content">
            Release
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
