<template name="callingChangeView">

  {{#with callingChangeData}}
    <div class="bar bar-header bar-stable">
      <div class="buttons">
        {{>ionNavBackButton path="callingChangeList"}}
      </div>
      <h1 class="title">Calling Change Details</h1>
      <div class="buttons">
        <a class="button button-clear pull-right button-positive" href="/callingChangeEdit/{{_id}}">
          Edit
        </a>
      </div>
    </div>

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          <label class="item item-input">
            <span class="input-label">Type</span>
            {{type}}
          </label>
          <label class="item item-input">
            <span class="input-label">Member Name</span>
            {{memberName}}
          </label>
          <label class="item item-input">
            <span class="input-label">Calling Name</span>
            {{callingName}}
          </label>
          <label class="item item-input">
            <span class="input-label">Notes</span>
            {{notes}}
          </label>
        {{/ionList}}
        <div class="bar bar-footer bar-light">
          <div class="title">
            <h1 class="title" data-action="showActionSheet">
              Delete Calling Change
            </h1>
          </div>
        </div>
      {{/ionContent}}
    {{/ionView}}

  {{/with}}
</template>
