<template name="callingGroup">

  {{#with callingData}}

    {{>backHeader title="Callings"}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          <div class="item item-divider">
            {{groupName}}
          </div>
          {{#each leaders}}
            <a href="/member/{{individualId}}" class="item item-icon-right">
              <h4>
                {{callingName}}
              </h4>
              <h2>
                {{displayName}}
              </h2>
              {{> ionIcon icon="ios-arrow-right"}}
            </a>
          {{/each}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}
  {{/with}}
</template>
