<template name="callingGroup">

  {{#with callingData}}

    {{> barHeader title="Callings" leftType="back"}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          <div class="item item-divider">
            {{name}}
          </div>
          {{#each assignmentsInGroup}}
            <a href="/member/{{individualId}}" class="item item-icon-right">
              <span class="item-note">
                Date Called: {{formatDate dateActivated}}
                <br />
                Set Apart: {{#if setApartFlg}} Yes {{else}} No {{/if}}
              </span>
              <p>{{positionName}}</p>
              {{getMemberName individualId}}
              {{> ionIcon icon="ios-arrow-right"}}
            </a>
          {{/each}}

          {{#each children}}
            <div class="item item-divider">
              {{name}}
            </div>
            {{#each assignmentsInGroup}}
              <a href="/member/{{individualId}}" class="item item-icon-right">
                <span class="item-note">
                  Date Called: {{formatDate dateActivated}}
                  <br />
                  Set Apart: {{#if setApartFlg}} Yes {{else}} No {{/if}}
                </span>
                <p>{{positionName}}</p>
                {{getMemberName individualId}}
                {{> ionIcon icon="ios-arrow-right"}}
              </a>
            {{/each}}
          {{/each}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}
  {{/with}}
</template>
