<template name="sideMenu">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">LDS Toolkit</h1>
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding" align="center">
        <h3>Welcome to LDS Toolkit!</h3>
        <p>
          LDS Toolkit is a suite of tools that augment tools already available through LDS Tools, Leader and Clerk Resourced (LCR), and lds.org.
        </p>
        <p>
          These tools make it easier for various leaders in wards to function more efficiently. The tools include:
        </p>
        <p>
          <ul>
            <li>Sacrament Program (agenda, printing, and discussion)</li>
            <li>Callings (recommended calling submission and workflow)</li>
            <li>Tithing Settlement (signups and scheduling)</li>
            <li>Home and Visiting Teaching (scheduling and reporting)</li>
          </ul>
        </p>
        <p>
          Also, if you would like to get involved with this project, check us out on GitHub at https://github.com/mrn3/ldstoolbox.
        </p>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
