<template name="householdList">

  <div class="bar bar-header bar-stable">
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
    <h1 class="title">Directory</h1>
    <div class="buttons">
      <a class="button button-clear pull-right button-positive" data-action="showSortActionSheet">
        <i class="icon ion-ios-arrow-down positive"></i>
      </a>
    </div>
  </div>

  {{#ionView}}
    {{#ionContent}}
        {{#ionList}}
          {{#each householdData}}
            <a class="item item-icon-right" href="/member/{{headOfHouse.individualId}}">
              {{householdName}}, {{headOfHouse.directoryName}}
              {{#if spouse.directoryName}}
                &amp; {{spouse.directoryName}}
              {{/if}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
