<template name="householdList">

  {{> barHeader title="Directory" leftType="mainMenu" rightType="memberList"}}

  {{#ionView}}
    {{#ionContent}}
        {{#ionList}}
          {{#each householdData}}
            <a class="item item-icon-right" href="/member/{{headOfHouse.individualId}}">
              {{householdName}}, {{headOfHouse.directoryName}}
              {{#if spouse.directoryName}}
                &amp; {{spouse.directoryName}}
              {{/if}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
