<template name="householdList">

  {{> barHeader title="Directory" leftType="mainMenu" rightType="memberList"}}

  <div id="searchBarSubHeader" class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="householdSearchInput" type="search" placeholder="Search Text" value="{{householdSearchInputValue}}">
    </label>
  </div>

  {{#ionView}}
    {{#ionContent class="has-subheader mainContentArea"}}
        {{#ionList}}
          {{#each householdSearchData}}
            {{> householdItem}}
          {{/each}}
          {{#each householdData}}
            {{> householdItem}}
          {{/each}}
        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
