<template name="memberSelect">

  <div class="bar bar-header bar-light">
    <div class="buttons">
      <a id="cancelButton" class="button button-clear button-positive">
        Cancel
      </a>
    </div>
    <h1 class="title">Select Member</h1>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#if isLikelyOptions}}
          <div class="item item-divider">
            Most Likely Options
          </div>

          {{#if memberSelectTypeIs "organist"}}
            {{#each organistData}}
              {{>memberSelectItem}}
            {{/each}}
          {{/if}}

          {{#if memberSelectTypeIs "chorister"}}
            {{#each choristerData}}
              {{>memberSelectItem}}
            {{/each}}
          {{/if}}

          {{#if memberSelectTypeIs "presiding"}}
            {{#each presidingData}}
              {{>memberSelectItem}}
            {{/each}}
          {{/if}}

          {{#if memberSelectTypeIs "conducting"}}
            {{#each conductingData}}
              {{>memberSelectItem}}
            {{/each}}
          {{/if}}

          {{#if memberSelectTypeIs "visitingAuthority"}}
            {{#each visitingAuthorityData}}
              {{>memberSelectItem}}
            {{/each}}
          {{/if}}
        {{/if}}

        <div class="item item-divider">
          Search
        </div>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchInput" type="search" placeholder="Search">
          </label>
        </div>
        {{#each memberData}}
          {{>memberSelectItem}}
        {{/each}}

        <div class="item item-divider">
          Other
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Other" id="other">
          </label>
          <button class="button button-small" id="goButton">
            Go
          </button>
        </div>

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
