<template name="member">

  {{> barHeader title="Member" leftType="back"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#with memberData}}
          <div class="item item-divider">
            Member Information
          </div>
          <a class="item" href="#">
            Name
            <span class="item-note">{{switchedPreferredName}}</span>
          </a>
          <a class="item" href="#">
            Gender
            <span class="item-note">{{gender}}</span>
          </a>
          <div class="item item-divider">
            Calling(s)
          </div>
          {{#each callings}}
            <a class="item" href="#">
              Calling Name
              <span class="item-note">{{callingName}}</span>
            </a>
          {{/each}}
          <div class="item item-divider">
            Contact Information
          </div>
          <a class="item item-icon-right" href="#" data-action=showIndividualPhoneActionSheet>
            Individual Phone
            <span class="item-note">{{phone}}</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="mailto:{{email}}">
            Individual Email
            <span class="item-note">{{email}}</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
        {{/with}}
        {{#with householdData}}
          {{#with householdInfo}}
            <a class="item item-icon-right" data-action=showHouseholdPhoneActionSheet>
              Household Phone
              <span class="item-note">{{phone}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="mailto:{{email}}">
              Household Email
              <span class="item-note">{{email}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            {{#with address}}
              <div class="item item-divider">
                Address
              </div>
              <a class="item item-icon-right" data-action=showAddressActionSheet>
                {{#if addr1}}
                  {{addr1}}
                {{/if}}
                {{#if addr2}}
                  <br />{{addr2}}
                {{/if}}
                {{#if addr3}}
                  <br />{{addr3}}
                {{/if}}
                {{#if addr4}}
                  <br />{{addr4}}
                {{/if}}
                {{#if addr5}}
                  <br />{{addr5}}
                {{/if}}
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            {{/with}}
          {{/with}}
          <div class="item item-divider">
            Household Members
          </div>
          {{#with headOfHousehold}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
            <p>Head of Household</p>
            <h2>
              {{name}}
            </h2>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          {{/with}}
          {{#with headOfHouse}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
            <p>Head of Household</p>
            <h2>
              {{directoryName}}
            </h2>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          {{/with}}
          {{#with spouse}}
            <a class="item item-icon-right" href="/member/{{spouse.individualId}}">
              <p>Spouse</p>
              <h2>{{name}}</h2>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/with}}
          {{#each otherHouseholdMembers}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
              <p>Child</p>
              <h2>{{name}}</h2>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
        {{#with memberData}}
          <div class="item item-divider">
            Organizations
          </div>
          {{#each organizations}}
            <a class="item item-icon-right" href="/organization/{{_id}}">
              {{name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
