<template name="member">

  {{> barHeader title="Member" leftType="back"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#with memberData}}
          <div class="item item-divider">
            Contact Information
          </div>
          <a class="item item-icon-right" href="#">
            Name
            <span class="item-note">{{switchedPreferredName}}</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Gender
            <span class="item-note">{{gender}}</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <div class="item item-divider">
            Calling(s)
          </div>
          {{#each callings}}
            <a class="item item-icon-right" href="#">
              Calling Name
              <span class="item-note">{{callingName}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
        {{#with householdData}}
          <div class="item item-divider">
            Household Members
          </div>
          <a class="item item-icon-right" href="/member/{{headOfHouse.individualId}}">
            Head of Household
            <span class="item-note">{{headOfHouse.directoryName}} {{headOfHouse.surname}}</span>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          {{#if spouse.directoryName}}
            <a class="item item-icon-right" href="/member/{{spouse.individualId}}">
              Spouse
              <span class="item-note">{{spouse.directoryName}} {{spouse.surname}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
          {{#each children}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
              Child
              <span class="item-note">{{directoryName}} {{surname}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
