<template name="memberList">

  {{> barHeader title="Directory" leftType="mainMenu" rightType="memberList"}}


  {{#ionView}}
    {{#ionContent id="theContent"}}
        {{#ionList}}
          {{#each memberData}}
            <a href="{{pathFor 'member'}}" class="item item-icon-right">
              <h2>
                {{preferredName}}
              </h2>
              <p>
              {{#each callings}}
                {{callingName}}
              {{/each}}
              </p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
