<template name="member">

  {{> barHeader title="Member" leftType="back"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#with memberData}}
          <div class="item item-divider">
            Member Information
          </div>
          <a class="item" href="#">
            Name
            <span class="item-note">{{switchedPreferredName}}</span>
          </a>
          <a class="item" href="#">
            Gender
            <span class="item-note">{{gender}}</span>
          </a>
          <div class="item item-divider">
            Calling(s)
          </div>
          {{#each callings}}
            <a class="item" href="#">
              Calling Name
              <span class="item-note">{{callingName}}</span>
            </a>
          {{/each}}
          <div class="item item-divider">
            Contact Information
          </div>
          {{#if phone}}
            <a class="item item-icon-right" href="#" data-action=showIndividualPhoneActionSheet>
              Individual Phone
              <span class="item-note">{{phone}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
          {{#if email}}
            <a class="item item-icon-right" href="mailto:{{email}}">
              Individual Email
              <span class="item-note">{{email}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
        {{/with}}
        {{#with householdData}}
          {{#if householdInfo.phone}}
            <a class="item item-icon-right" data-action=showHouseholdPhoneActionSheet>
              Household Phone
              <span class="item-note">{{householdInfo.phone}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
          {{#if householdInfo.email}}
            <a class="item item-icon-right" href="mailto:{{householdInfo.email}}">
              Household Email
              <span class="item-note">{{householdInfo.email}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
          {{#if householdInfo.address}}
            <div class="item item-divider">
              Address
            </div>
            <a class="item item-icon-right" data-action=showAddressActionSheet>
              {{#if householdInfo.address.addr1}}
                {{householdInfo.address.addr1}}
              {{/if}}
              {{#if householdInfo.address.addr2}}
                <br />{{householdInfo.address.addr2}}
              {{/if}}
              {{#if householdInfo.address.addr3}}
                <br />{{householdInfo.address.addr3}}
              {{/if}}
              {{#if householdInfo.address.addr4}}
                <br />{{householdInfo.address.addr4}}
              {{/if}}
              {{#if householdInfo.address.addr5}}
                <br />{{householdInfo.address.addr5}}
              {{/if}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/if}}
          <div class="item item-divider">
            Household Members
          </div>
          {{#with headOfHousehold}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
            <p>Head of Household</p>
            <h2>
              {{name}}
            </h2>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          {{/with}}
          {{#with headOfHouse}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
            <p>Head of House</p>
            <h2>
              {{name}}
              {{directoryName}}
            </h2>
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          {{/with}}
          {{#with spouse}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
              <p>Spouse</p>
              <h2>{{name}}</h2>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/with}}
          {{#each otherHouseholdMembers}}
            <a class="item item-icon-right" href="/member/{{individualId}}">
              <p>Child</p>
              <h2>{{name}}</h2>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
        {{#with memberData}}
          <div class="item item-divider">
            Organizations
          </div>
          {{#each organizations}}
            <a class="item item-icon-right" href="/organization/{{_id}}">
              {{name}}
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/each}}
        {{/with}}
        <!--
        {{#with userData}}
          <div class="item item-divider">
            User Information
          </div>
          <label class="item">
            LDS Account Username
            <span class="item-note">{{ldsAccount.username}}</span>
          </label>
        {{/with}}
        //-->
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
