<template name="memberSelect">

  <div class="bar bar-header bar-light">
    <div class="buttons">
      <a id="cancelButton" class="button button-clear button-positive">
        Cancel
      </a>
    </div>
    <h1 class="title">Select Member</h1>
  </div>

  {{#ionView}}
    {{#ionContent}}
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchInput" type="search" placeholder="Search">
        </label>
      </div>
      {{#ionList}}

        {{#if memberSelectTypeIs "organist"}}
          {{#each organistData}}
            {{>memberSelectItem}}
          {{/each}}
        {{/if}}

        {{#if memberSelectTypeIs "chorister"}}
          {{#each choristerData}}
            {{>memberSelectItem}}
          {{/each}}
        {{/if}}

        {{#if memberSelectTypeIs "presiding"}}
          {{#each presidingData}}
            {{>memberSelectItem}}
          {{/each}}
        {{/if}}

        {{#each memberData}}
          {{>memberSelectItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
