<template name="attendanceSelect">

  {{>cancelAndDoneHeader title="Select Attendance"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        <div class="padding">
          <button id="incrementTenAttendanceButton" class="button button-positive button-large button-full">
            +10
          </button>
          <button id="incrementOneAttendanceButton" class="button button-positive button-large button-full">
            +1
          </button>
          <div style="font-size: 5em; padding:30px" align="center">
            {{attendanceSession}}
          </div>
          <button id="decrementOneAttendanceButton" class="button button-positive button-large button-full">
            -1
          </button>
          <button id="decrementTenAttendanceButton" class="button button-positive button-large button-full">
            -10
          </button>
        </div>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
