<template name="attendanceSelect">

  <div class="bar bar-header bar-light">
    <div class="buttons">
      <a id="cancelButton" class="button button-clear button-positive">
        Cancel
      </a>
    </div>
    <h1 class="title">Select Attendance</h1>
    <div class="buttons">
      <a id="doneButton" class="button button-clear button-positive">
        <strong>Done</strong>
      </a>
    </div>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        <div class="padding">
          <button id="incrementTenAttendanceButton" class="button button-positive button-large button-full">
            +10
          </button>
          <button id="incrementOneAttendanceButton" class="button button-positive button-large button-full">
            +1
          </button>
          <div style="font-size: 5em; padding:30px" align="center">
            {{attendanceSession}}
          </div>
          <button id="decrementOneAttendanceButton" class="button button-positive button-large button-full">
            -1
          </button>
          <button id="decrementTenAttendanceButton" class="button button-positive button-large button-full">
            -10
          </button>
        </div>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
