<template name="meetingEdit">

  {{#with meetingData}}
    <div class="bar bar-header bar-light">
      <div class="buttons">
        <a id="cancelButton" class="button button-clear pull-left button-positive">
          Cancel
        </a>
      </div>
      <h1 class="title">Edit Meeting</h1>
      <div class="buttons">
        <a id="doneButton" class="button button-clear pull-right button-positive">
          <strong>Done</strong>
        </a>
      </div>
    </div>
  {{/with}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{#with meetingData}}
            {{>meetingFields}}
          {{/with}}

          {{#with meetingData}}
            <div class="item item-divider">
              Announcements
              <button id="addAnnouncementButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each announcementData}}
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" id="{{_id}}" placeholder="Announcement" class="announcementInput" value="{{text}}">
              </label>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeAnnouncementButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Speakers
              <button id="addSpeakerButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each speakerData}}
            <div class="list list-inset">
              <a id="{{_id}}" class="item item-icon-right speakerItem" href="{{pathFor 'memberSelect'}}">
                Speaker
                <span class="item-note">{{speaker.switchedPreferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeSpeakerButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Ordinances and Recognitions
              <button id="addRecognitionButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each recognitionData}}
            <div class="list list-inset">
              <a id="{{_id}}" class="item item-icon-right recognitionItem" href="{{pathFor 'memberSelect'}}">
                Speaker
                <span class="item-note">{{recognition.switchedPreferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeRecognitionButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" href="/meetingPrint/{{_id}}">
              Print Meeting
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" data-action="showActionSheet">
              Delete Meeting
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
          {{/with}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}

</template>
