<template name="meetingCreate">

  {{#if userCanCreateMeeting}}

    {{>cancelAndDoneHeader title="Create Meeting"}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{>meetingFields}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}

  {{else}}

    {{>cancelHeader title="Create Meeting"}}

    {{#ionView}}
      {{#ionContent}}
        You are not allowed to create meetings.  Please <a href="/sync">sync</a>
        on an LDS Account that is allowed to create meetings.
      {{/ionContent}}
    {{/ionView}}

  {{/if}}
</template>
