<template name="meetingFields">
  <label class="item item-input">
    <span class="input-label">Member Name</span>
    <input type="text" id="memberName" placeholder="Member Name" value="{{memberName}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Calling Name</span>
    <input type="text" id="callingName" placeholder="Calling Name" value="{{callingName}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Notes</span>
    <textarea id="notes" placeholder="Notes" rows="3">{{notes}}</textarea>
  </label>
</template>
