<template name="meetingEdit">

  {{#with meetingData}}
    <div class="bar bar-header bar-light">
      <div class="buttons">
        <a id="cancelButton" class="button button-clear pull-left button-positive">
          Cancel
        </a>
      </div>
      <h1 class="title">Edit Meeting</h1>
      <div class="buttons">
        <a id="doneButton" class="button button-clear pull-right button-positive">
          <strong>Done</strong>
        </a>
      </div>
    </div>

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{>meetingFields}}
          <div class="item item-divider">
            &nbsp;
          </div>
          <a class="button button-positive button-full button-clear" href="/meetingPrint/{{_id}}">
            Print Meeting
          </a>
          <div class="item item-divider">
            &nbsp;
          </div>
          <a class="button button-positive button-full button-clear" data-action="showActionSheet">
            Delete Meeting
          </a>
          <div class="item item-divider">
            &nbsp;
          </div>
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}

  {{/with}}
</template>
