<template name="meetingFields">
  <label class="item item-input">
    <span class="input-label">Meeting Date</span>
    <input type="date" id="meetingDate" placeholder="Meeting Date" value="{{meetingDate}}">
  </label>

  <div class="item item-divider">
    Music
  </div>
  <a id="organistItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Organist
    <span class="item-note">{{{organistSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="choristerItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Chorister
    <span class="item-note">{{{choristerSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="openingHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
    Opening Hymn
    <span class="item-note">{{{openingHymnSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="sacramentHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
    Sacrament Hymn
    <span class="item-note">{{{sacramentHymnSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="intermediateHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
    Intermediate Hymn
    <span class="item-note">{{{intermediateHymnSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <label class="item item-input">
    <span class="input-label">Musical Number</span>
    <input type="text" id="musicalNumber" placeholder="Musical Number" value="{{musicalNumber}}">
  </label>
  <a id="closingHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
    Closing Hymn
    <span class="item-note">{{{closingHymnSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <div class="item item-divider">
    Prayers
  </div>
  <a id="invocationItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Invocation
    <span class="item-note">{{{invocationSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="benedictionItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Benediction
    <span class="item-note">{{{benedictionSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <div class="item item-divider">
    Administration
  </div>
  <a id="presidingItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Presiding
    <span class="item-note">{{{presidingSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="conductingItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Conducting
    <span class="item-note">{{{conductingSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="visitingAuthorityItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Visiting Authority
    <span class="item-note">{{{visitingAuthoritySession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a id="attendanceItem" class="item item-icon-right" href="{{pathFor 'attendanceSelect'}}">
    Attendance
    <span class="item-note">{{{attendanceSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>

</template>
