<template name="meetingEdit">

  {{#if userCanEditMeeting}}

    <div class="bar bar-header bar-light">
      {{> barHeaderLeft leftType="cancel"}}

      {{> barHeaderTitle title="Edit Meeting"}}
      <div class="buttons">
        {{#with meetingData}}
          <a id="doneButton" class="button button-clear pull-right button-positive">
            <strong>Done</strong>
          </a>
        {{/with}}
      </div>
    </div>

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{#with meetingData}}
            <label class="item item-input">
              <span class="input-label">Meeting Date</span>
              <input type="date" id="meetingDate" placeholder="Meeting Date" value="{{meetingDate}}">
            </label>

            <div class="item item-divider">
              Notes
            </div>
            <label class="item">
              <textarea id="notes" placeholder="Notes" rows="3">{{notes}}</textarea>
            </label>

            <div class="item item-divider">
              Prayers
            </div>
            <a id="invocationItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Invocation
              <span class="item-note">{{{invocationSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="benedictionItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Benediction
              <span class="item-note">{{{benedictionSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item item-divider">
              Administration
            </div>
            <div class="item item-toggle">
               Fast and Testimony
               <label class="toggle toggle-assertive">
                 <input type="checkbox" id="fastAndTestimony" checked="{{isChecked fastAndTestimony}}">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </div>
            <a id="presidingItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Presiding
              <span class="item-note">{{{presidingSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="conductingItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Conducting
              <span class="item-note">{{{conductingSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="attendanceItem" class="item item-icon-right" href="{{pathFor 'attendanceSelect'}}">
              Attendance
              <span class="item-note">{{{attendanceSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item item-divider">
              Music
            </div>
            <a id="organistItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Organist
              <span class="item-note">{{{organistSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="choristerItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
              Chorister
              <span class="item-note">{{{choristerSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="openingHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
              Opening Hymn
              <span class="item-note">{{{openingHymnSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="sacramentHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
              Sacrament Hymn
              <span class="item-note">{{{sacramentHymnSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a id="closingHymnItem" class="item item-icon-right" href="{{pathFor 'hymnSelect'}}">
              Closing Hymn
              <span class="item-note">{{{closingHymnSession}}}</span>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          {{/with}}

          {{#with meetingData}}
            <div class="item item-divider">
              Intermediate Hymn
              <button id="addIntermediateHymnButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each intermediateHymnData}}
            <div class="list list-inset">
              <a class="item item-icon-right intermediateHymnItem" href="{{pathFor 'hymnSelect'}}">
                Hymn
                <span class="item-note">
                  {{#if hymn.number}}
                    {{hymn.number}} -
                  {{/if}}
                  {{hymn.name}}
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <label class="item item-input item-select">
                <div class="input-label">
                  Performed After Speaker
                </div>
                <select id="{{_id}}" class="intermediateHymnAfterSpeakerSelect">
                  <option {{isSelected afterSpeaker 1}}>01</option>
                  <option {{isSelected afterSpeaker 2}}>02</option>
                  <option {{isSelected afterSpeaker 3}}>03</option>
                  <option {{isSelected afterSpeaker 4}}>04</option>
                  <option {{isSelected afterSpeaker 5}}>05</option>
                  <option {{isSelected afterSpeaker 6}}>06</option>
                  <option {{isSelected afterSpeaker 7}}>07</option>
                  <option {{isSelected afterSpeaker 8}}>08</option>
                  <option {{isSelected afterSpeaker 9}}>09</option>
                  <option {{isSelected afterSpeaker 10}}>10</option>
                  <option {{isSelected afterSpeaker 11}}>11</option>
                  <option {{isSelected afterSpeaker 12}}>12</option>
                  <option {{isSelected afterSpeaker 13}}>13</option>
                  <option {{isSelected afterSpeaker 14}}>14</option>
                  <option {{isSelected afterSpeaker 15}}>15</option>
                  <option {{isSelected afterSpeaker 16}}>16</option>
                  <option {{isSelected afterSpeaker 17}}>17</option>
                  <option {{isSelected afterSpeaker 18}}>18</option>
                  <option {{isSelected afterSpeaker 19}}>19</option>
                  <option {{isSelected afterSpeaker 20}}>20</option>
                </select>
              </label>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeIntermediateHymnButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Musical Number
              <button id="addMusicalNumberButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each musicalNumberData}}
            <div class="list list-inset">
              <a class="item item-icon-right musicalNumberHymnItem" href="{{pathFor 'hymnSelect'}}">
                Song
                <span class="item-note">
                  {{#if hymn.number}}
                    {{hymn.number}} -
                  {{/if}}
                  {{hymn.name}}
                </span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a class="item item-icon-right musicalNumberPerformerItem" href="{{pathFor 'memberSelect'}}">
                Performer
                <span class="item-note">{{performer.preferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a class="item item-icon-right musicalNumberConductorItem" href="{{pathFor 'memberSelect'}}">
                Conductor
                <span class="item-note">{{conductor.preferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <a class="item item-icon-right musicalNumberAccompanistItem" href="{{pathFor 'memberSelect'}}">
                Accompanist
                <span class="item-note">{{accompanist.preferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <label class="item item-input item-select">
                <div class="input-label">
                  Performed After Speaker
                </div>
                <select id="{{_id}}" class="musicalNumberAfterSpeakerSelect">
                  <option {{isSelected afterSpeaker 1}}>1</option>
                  <option {{isSelected afterSpeaker 2}}>2</option>
                  <option {{isSelected afterSpeaker 3}}>3</option>
                  <option {{isSelected afterSpeaker 4}}>4</option>
                  <option {{isSelected afterSpeaker 5}}>5</option>
                  <option {{isSelected afterSpeaker 6}}>6</option>
                </select>
              </label>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeMusicalNumberButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Announcements
              <button id="addAnnouncementButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each announcementData}}
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" id="{{_id}}" placeholder="Announcement" class="announcementInput" value="{{text}}">
              </label>
              <div class="item item-toggle">
                 Sacrament Worthy
                 <label class="toggle toggle-assertive">
                   <input type="checkbox" id="{{_id}}" class="announcementSacramentWorthyCheckbox" checked="{{isChecked announcementSacramentWorthy}}">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </div>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeAnnouncementButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Visitors
              <button id="addVisitorButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each visitorData}}
            <div class="list list-inset">
              <a id="{{_id}}" class="item item-icon-right visitorItem" href="{{pathFor 'memberSelect'}}">
                Visitor
                <span class="item-note">{{visitor.preferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeVisitorButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Speakers
              <button id="addSpeakerButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each speakerData}}
            <div class="list list-inset">
              <a id="{{_id}}" class="item item-icon-right speakerItem" href="{{pathFor 'memberSelect'}}">
                Speaker
                <span class="item-note">{{speaker.preferredName}}</span>
                <i class="icon ion-ios-arrow-right"></i>
              </a>
              <label class="item item-input">
                <input type="text" id="{{_id}}" placeholder="Topic" class="speakerTopicInput" value="{{topic}}">
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                  Order
                </div>
                <select id="{{_id}}" class="speakerOrderSelect">
                  <option {{isSelected order 1}}>1</option>
                  <option {{isSelected order 2}}>2</option>
                  <option {{isSelected order 3}}>3</option>
                  <option {{isSelected order 4}}>4</option>
                  <option {{isSelected order 5}}>5</option>
                  <option {{isSelected order 6}}>6</option>
                </select>
              </label>
              <div class="item item-toggle">
                 Confirmed
                 <label class="toggle toggle-assertive">
                   <input type="checkbox" id="{{_id}}" class="speakerConfirmedCheckbox" checked="{{isChecked speakerConfirmed}}">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </div>
              <div class="item item-divider">
                <button type="button" class="button button-clear button-small pull-right removeSpeakerButton">
                  Remove
                  <span class="icon ion-close"></span>
                </button>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              Ordinances and Recognitions
              <button id="addRecognitionButton" type="button" class="button button-clear button-small pull-right">
                Add
                <span class="icon ion-plus"></span>
              </button>
            </div>
          {{/with}}

          {{#each recognitionData}}
            <div class="list list-inset">
              <div id="{{_id}}" class="recognitionItem">
                <a class="item item-icon-right recognitionTypeItem" href="{{pathFor 'recognitionTypeSelect'}}">
                  Type
                  <span class="item-note">{{recognitionType.typeName}}</span>
                  <i class="icon ion-ios-arrow-right"></i>
                </a>
                <div class="item item-divider">
                  Members
                  <button type="button" class="button button-clear button-small pull-right addRecognitionMemberButton">
                    Add
                    <span class="icon ion-plus"></span>
                  </button>
                </div>
                <div class="list list-inset">
                  {{#each members}}
                    <a class="item item-icon-right recognitionMemberItem" href="{{pathFor 'memberSelect'}}">
                      Member
                      <span class="item-note">{{preferredName}}</span>
                      <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <div class="item item-divider">
                      <button type="button" class="button button-clear button-small pull-right removeRecognitionMemberButton">
                        Remove
                        <span class="icon ion-close"></span>
                      </button>
                    </div>
                  {{/each}}
                </div>
                <div class="item item-divider">
                  <button type="button" class="button button-clear button-small pull-right removeRecognitionButton">
                    Remove
                    <span class="icon ion-close"></span>
                  </button>
                </div>
              </div>
            </div>
          {{/each}}

          {{#with meetingData}}
          <div class="item item-divider">
            New Records (copy and paste from <a target="_blank" href="https://www.lds.org/mls/mbr/report/members-moved-in">here</a>)
          </div>
          <label class="item">
            <textarea id="newRecords" placeholder="New Records" rows="3">{{newRecords}}</textarea>
          </label>
          {{/with}}

          {{#with meetingData}}
            <div class="item item-divider">
              Sustainings and Releases
            </div>
          {{/with}}

          {{#each callingChangeData}}
            {{>callingChangeItem}}
          {{/each}}

          {{#with meetingData}}
            <div class="item item-divider">
              History
            </div>
            <a class="item item-icon-right" href="{{pathFor 'meetingHistory'}}">
              View History
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" href="/meetingAgendaPrint/{{_id}}">
              Print Meeting Agenda
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" href="/meetingProgramPrint/{{_id}}">
              Print Meeting Program
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
            <a class="button button-positive button-full button-clear" data-action="showActionSheet">
              Delete Meeting
            </a>
            <div class="item item-divider">
              &nbsp;
            </div>
          {{/with}}

        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> notAllowed title="Edit Meeting"}}
  {{/if}}

</template>
