<template name="meetingFields">
  <label class="item item-input">
    <span class="input-label">Meeting Date</span>
    <input type="date" id="meetingDate" placeholder="Meeting Date" value="{{meetingDate}}">
  </label>

  <div class="item item-divider">
    Music
  </div>
  <a id="organistItem" class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Organist
    <span class="item-note">{{{organistSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-right" href="{{pathFor 'memberSelect'}}">
    Chorister
    <span class="item-note">{{{choristerSession}}}</span>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <label class="item item-input">
    <span class="input-label">Opening Hymn</span>
    <input type="text" id="openingHymn" placeholder="Opening Hymn" value="{{openingHymn}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Sacrament Hymn</span>
    <input type="text" id="sacramentHymn" placeholder="Sacrament Hymn" value="{{sacramentHymn}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Intermediate Hymn</span>
    <input type="text" id="intermediateHymn" placeholder="Intermediate Hymn" value="{{intermediateHymn}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Musical Number</span>
    <input type="text" id="musicalNumber" placeholder="Musical Number" value="{{musicalNumber}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Closing Hymn</span>
    <input type="text" id="closingHymn" placeholder="Closing Hymn" value="{{closingHymn}}">
  </label>

  <div class="item item-divider">
    Prayers
  </div>
  <label class="item item-input">
    <span class="input-label">Invocation</span>
    <input type="text" id="invocation" placeholder="Invocation" value="{{invocation}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Benediction</span>
    <input type="text" id="benediction" placeholder="Benediction" value="{{benediction}}">
  </label>

  <div class="item item-divider">
    Administration
  </div>
  <label class="item item-input">
    <span class="input-label">Presiding</span>
    <input type="text" id="presiding" placeholder="Presiding" value="{{presiding}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Conducting</span>
    <input type="text" id="conducting" placeholder="Conducting" value="{{conducting}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Visiting Authority</span>
    <input type="text" id="visitingAuthority" placeholder="Visiting Authority" value="{{visitingAuthority}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Attendance</span>
    <input type="text" id="attendance" placeholder="Attendance" value="{{attendance}}">
  </label>

  <div class="item item-divider">
    Announcements
  </div>
  <label class="item item-input">
    <span class="input-label">Announcements</span>
    <textarea id="announcements" placeholder="Announcements">{{announcements}}</textarea>
  </label>

  <div class="item item-divider">
    Speakers
  </div>
  <label class="item item-input">
    <span class="input-label">Speaker 1</span>
    <input type="text" id="speaker1" placeholder="Speaker 1" value="{{speaker1}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Speaker 2</span>
    <input type="text" id="speaker2" placeholder="Speaker 2" value="{{speaker2}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Speaker 3</span>
    <input type="text" id="speaker3" placeholder="Speaker 3" value="{{speaker3}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Speaker 4</span>
    <input type="text" id="speaker4" placeholder="Speaker 4" value="{{speaker4}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Speaker 5</span>
    <input type="text" id="speaker5" placeholder="Speaker 5" value="{{speaker5}}">
  </label>


<!--

  <h3>Ward Business</h3>
  <div class="control-group">
    <label class="control-label">Releases</label>
    <div class="controls">
      <ul>
      {{#each releasesList title}}
        <li><u>{{memberName}}</u> From <u>{{callingName}}</u></li>
      {{/each}}
      </ul>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Sustainings</label>
    <div class="controls">
      <ul>
      {{#each sustainingsList title}}
        <li><u>{{memberName}}</u> To <u>{{callingName}}</u></li>
      {{/each}}
      </ul>
    </div>
  </div>
  //-->

  <div class="item item-divider">
    Ordinances and Recognitions
  </div>
  <label class="item item-input">
    <span class="input-label">Recognition 1</span>
    <input type="text" id="recognition1Type" placeholder="Recognition 1 Type" value="{{recognition1Type}}">
    <input type="text" id="recognition1Person1" placeholder="Recognition 1 Person 1" value="{{recognition1Person1}}">
    <input type="text" id="recognition1Person2" placeholder="Recognition 1 Person 2" value="{{recognition1Person2}}">
    <input type="text" id="recognition1Person3" placeholder="Recognition 1 Person 3" value="{{recognition1Person3}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Recognition 2</span>
    <input type="text" id="recognition2Type" placeholder="Recognition 2 Type" value="{{recognition2Type}}">
    <input type="text" id="recognition2Person1" placeholder="Recognition 2 Person 1" value="{{recognition2Person1}}">
    <input type="text" id="recognition2Person2" placeholder="Recognition 2 Person 2" value="{{recognition2Person2}}">
    <input type="text" id="recognition2Person3" placeholder="Recognition 2 Person 3" value="{{recognition2Person3}}">
  </label>
  <label class="item item-input">
    <span class="input-label">Recognition 3</span>
    <input type="text" id="recognition3Type" placeholder="Recognition 3 Type" value="{{recognition3Type}}">
    <input type="text" id="recognition3Person1" placeholder="Recognition 3 Person 1" value="{{recognition3Person1}}">
    <input type="text" id="recognition3Person2" placeholder="Recognition 3 Person 2" value="{{recognition3Person2}}">
    <input type="text" id="recognition3Person3" placeholder="Recognition 3 Person 3" value="{{recognition3Person3}}">
  </label>
</template>
