<template name="meetingCreate">

  {{#if userCanCreateMeeting}}

    {{>cancelAndDoneHeader title="Create Meeting"}}

    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          {{>meetingFields}}
        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}

  {{else}}

    {{>backHeader title="Create Meeting"}}

    {{#ionView}}
      {{#ionContent}}
        <div class="padding" align="center">
          <h3>Action Not Allowed</h3>
          <p>
            You are not allowed to create meetings.  Please <a href="/sync">sync</a>
            on an LDS Account that is allowed to create meetings.
          </p>
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{/if}}
</template>
