<template name="meetingSelect">

  {{>cancelHeader title="Select Meeting"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        {{#each meetingData}}
          <label class="item item-radio">
            <input type="radio" name="meetingRadioButton" value="{{_id}}" {{isChecked meetingDate}}>
            <div id="meetingItem" class="item-content">
              <h2>
                {{meetingDate}}
              </h2>
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
