<template name="meetingList">

  <div class="bar bar-header bar-stable">
    <div class="buttons">
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    </div>
    <h1 class="title">Sacrament Meeting</h1>
    <div class="buttons">
      <button class="button button-clear pull-right" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          {{> ionIcon icon='android-search'}}
        {{else}}
          {{> ionIcon icon='ios-search'}}
        {{/if}}
      </button>
      <a class="button button-clear pull-right button-positive" href="/meetingCreate/">
        {{> ionIcon icon='ios-plus-empty'}}
      </a>
    </div>
  </div>

  {{#ionView}}
    {{#ionContent}}
        {{#ionList}}
          {{#each meetingData}}
            <a href="{{pathFor 'meetingView'}}" class="item item-icon-right">
              <h2>
                {{type}}
              </h2>
              {{> ionIcon icon="ios-arrow-right"}}
            </a>
          {{/each}}
        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
