<template name="recognitionTypeSelect">

  {{> barHeader title="Select Type" leftType="cancel"}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="item item-divider">
          &nbsp;
        </div>
        {{#each recognitionTypeData}}
          <label class="item item-radio">
            <input type="radio" name="recognitionTypeRadioButton" value="{{_id}}" {{isChecked typeName}}>
            <div id="recognitionTypeItem" class="item-content">
              <h2>
                {{typeName}}
              </h2>
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
