<template name="sync">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Sync</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if ldsAccountUserNotAuthenticated}}
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="LDS Account Username" id="ldsAccountUsername" value="{{user.ldsAccount.username}}">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="LDS Account Password" id="ldsAccountPassword">
        </label>
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="authenticateLdsAccountUserButton" value="Authenticate" />
      </div>
      {{else}}
      <div class="padding">
        <input class="button button-block button-positive" id="syncWardButton" value="Sync Ward" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncStakeButton" value="Sync Stake" />
      </div>
      {{/if}}
      <div class="list">
        <div class="list">
          <label class="item item-input">
            Ward Count: {{wardData}}
          </label>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
