<template name="sync">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Sync</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="LDS Account Username" id="ldsAccountUsername">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="LDS Account Password" id="ldsAccountPassword">
        </label>
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="authenticateMemberButton" value="Authenticate Member" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncWardButton" value="Sync Ward" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncUnitsButton" value="Sync Units" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncWardMembersButton" value="Sync Ward Members" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncStakeMembersButton" value="Sync Stake Members" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncWardCallingsButton" value="Sync Ward Callings" />
      </div>
      <div class="padding">
        <input class="button button-block button-positive" id="syncStakeCallingsButton" value="Sync Stake Callings" />
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>
